/* 基本樣式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}
img{
    max-width:100%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/
    height:auto;
}
/* home_img */
.home_img{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* display: fixed; */
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.w-100 {
    width: 100%!important;
}
/* 照片集樣式 */
#photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.photo {
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 30%;
}

.photo:hover {
    transform: scale(1.05);
}

/* 燈箱樣式 */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 999;
}

#lightbox-image {
    max-width: 80%;
    max-height: 80%;
    margin: 8% auto;
    display: block;
}

#close-lightbox {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
